<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
     <link rel='stylesheet' href='/stylesheets/custom-style.css'/>
</head>
<body>
<div class="main-container" id="mainContainer">
    <img class="card-img-top" src="../images/game_starting.png" alt="Card image">
        <div class="card-img-overlay" id ="chooseActionDiv">
                <button id="showCreateRoom" class="btn btn-primary" onclick="showCreateRoom()">Create Room</button>
                <button  id="showJoinRoom" class="btn btn-primary"  onclick="showJoinRoom()">Join Room</button>
        </div>
</div>




<script id="createRoomTemplate" type="text/x-custom-template">
    <div class="card" id ="createRoomContainer">
          <div class="card-header">Create Room</div>
            <div class="card-body">
                 <input id="hostName" type="text" placeholder="Enter your nick name" />
                 <label class="radio-inline"><input type="radio"  value="teamA" name="host-team" checked>Team A</label>
                 <label class="radio-inline"><input type="radio"  value="teamB" name="host-team">Team B</label>
                 <button id="createRoom" class="btn btn-primary" onclick="createRoom()">Create Room</button>
            </div>
        </div>
</script>

<script id="createRoomWaitingTemplate" type="text/x-custom-template">
      <div class="card" id ="createRoomWaitingRoom">
               <div id="roomDetails">
                      <div id="roomID"></div>
                      <div id="playerDivMsg"></div>
                      <div id="playerCount"></div>
                      <button  id="startGame" class="btn btn-primary" onclick="startGame()">Start Game</button>
                  </div>
      </div>
</script>

<script id="joinRoomTemplate" type="text/x-custom-template">
       <div class="card" id ="joinRoomContainer">
                    <div class="card-header">Join Room</div>
                      <div class="card-body">
                           <input id="playerName" type="text" placeholder="Enter your nick name" />
                           <input id="roomPin" type="text" placeholder="Enter pin to join" />
                           <label class="radio-inline"><input type="radio"  value="teamA" name="player-team" checked>Team A</label>
                           <label class="radio-inline"><input type="radio" value="teamB" name="player-team">Team B</label>
                           <button  id="joinRoom" class="btn btn-primary" onclick="joinRoom()">Join Room</button>
                    </div>
       </div>
</script>

<script id="joinRoomWaitingTemplate" type="text/x-custom-template">
    <div class="card" id ="joinRoomWaitingRoom">
    <div id="playerDivMsg"></div>
          <div id="playerCount"></div>

          Please Wait till the host starts the game
    </div>
</script>

<script id="canvasTemplate" type="text/x-custom-template">
    <div class="game-container">
        <canvas id="canvas" width="1024" height="500"></canvas>
    </div>
    <script src="/javascripts/game.js"></script>

<img id="playerA" hidden="true" src="/images/playerA.png" width="45px" height="45px" />
<img id="playerB" hidden="true" src="/images/playerB.png" width="45px" height="45px" />
<img id="playerA_hurt" hidden="true" src="/images/playerA_hurt.png" width="45px" height="45px" />
<img id="playerB_hurt" hidden="true" src="/images/playerB_hurt.png" width="45px" height="45px" />
    <img id="explosion" hidden="true" src="/images/explosion.png"/>
</script>



<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/config.js"></script>
<script src="/javascripts/websocket-client.js"></script>
<script src="/javascripts/sprite.js"></script>
<script src="/javascripts/keyboard-events.js"></script>
</body>
</html>
