.main-container {
    width:1000px
}

.create-join-btn-div {
    margin-top: 700px;
}

.create-join-btn-div button {
    display: block;
    width: 250px;
    margin: 5px 350px;
}

.card-title {
    margin-left: 400px;
    color: white;
}

.card-content {
    margin-left: 316px;
    margin-top: 125px;
}

.card-content input {
    display: block;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    margin: 10px;
}

label.radio-inline {
    color: white;
    text-align: center;
    margin-left: -95px;
}

.card-content button {
    display: block;
    margin: 15px;
    margin-left: 25px;
    width: 200px;
}

.card-content p {
    color: white
}